
<div class="scanpay--order--nav">
  <h4 class="scanpay--order--nav--h4">
    Transaction
    <a target="_blank" id="scanpay-h4" href="#"></a>
  </h4>

  <a target="_blank" id="scanpay-refund-btn" class="btn btn-danger" href="#">
    Refund
  </a>
  <a target="_blank" id="scanpay-capture-btn" class="btn btn-primary" href="#">
    Capture
  </a>
</div>

<table class="table table-bordered scanpay--order--table">
  <tbody id="scanpay--order--tbody"></tbody>
</table>
